<%- include ("./includes/head.ejs") %>
<div class="form-group">
    <h1>کارهای <small>روزمره</small></h1>
    <%- include ("./includes/todoForm.ejs") %>
    <div class="mx-auto w-50 mb-3 alert alert-primary row">
        <%- include ("./includes/todoStatus.ejs") %>
    </div>
    <%- include ("./includes/todos.ejs") %>
</div>
<%- include ("./includes/footer.ejs") %>
